<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppiumTestSuite" parallel="false">
    <test name="RegressionTests">
        <classes>
            <class name="test.StartScreenTest"/>
            <class name="test.FetchingLoaderScreenTest"/>
            <class name="test.AllDeviceListPageTest"/>

        </classes>
    </test>
</suite>
